//theme colors :
//  #f6bdb1  pink
//  #75a1a0  dark terquaz
//  #ffffff  white
//  #ffffe6  baby yellow

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: left;
    margin: 5px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 40px;
  }
  
  li a:hover:not(.active) {
    background-color: #75a1a0;
  }

  .active {
    background-color: #f6bdb1;
  }