div {
    color: #75a1a0;
    font-family: sans-serif;
    font-size: 44px;
    background: aliceblue;
    width: 374px;
    padding: 6px;
    text-align: center;
    border-radius: 21px;
    margin: 20%;
    margin-left: 38%;
}