/* You can add global styles to this file, and also import other style files */

body, html {
    background-image: url('./assets/p1.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0%;
    font-family: sans-serif;
}